@tailwind base;
h1 {
  @apply font-titles text-5xl font-bold;
}
h2 {
  @apply font-titles text-4xl font-bold;
}
h3 {
  @apply font-titles text-3xl font-semibold;
}
h4 {
  @apply font-titles text-2xl font-semibold;
}
h5 {
  @apply font-titles text-xl font-normal;
}
body {
  @apply font-serif text-lg bg-background;
}
strong {
  @apply font-bold;
}
@tailwind components;
@tailwind utilities;
/* @import './styles.css'; */

.theme-light {
  --background: #f0f3ee;
  --primary: #15161b;
  --secondary: #7e5e32;
  --gold: #9b7f5a;
  --olive: #766e53;
  --dark: #15161b;
}
.theme-dark {
  --background: #17181c;
  --primary: #f0f2ee;
  --secondary: #7c6748;
  --gold: #9b876d;
  --olive: #756f5c;
  --dark: #15161b;
}
